go 1.18

use (
	./address
	./base58
	./base58check
	./bech32
	./bhash
	./bip32
	./bip38
	./bip39
	./blocks
	./blockscan
	./common
	./constants
	./der
	./ecc
	./feecalc
	./rpc
	./satutil
	./script
	./tx
	./unspent
	./varint
	./wif
)
